# MACHINE LEARNING AN END TO END SOLUTION: Section 0 
# Loan Application 
Presented by Shaun &copy; 2018

## Getting Started!

## Installing Anaconda


**Install Anaconda:** [Install Anaconda distribution](https://www.anaconda.com/download/)  **Windows, Apple and Linux Supported!!!**
![Anaconda](img/anacondainstall.jpg)  


### Jupyter Quick Start Documentation:

- [Jupyter Notebook quickstart](http://jupyter.readthedocs.io/en/latest/content-quickstart.html)  
<img src="img/jupana.png" alt="Drawing" style="width: 200px;"/>

### Run Code:
To run the code in Jupyter, put the mouse pointer on a cell and hit the run button on the toolbar as highlighted in yellow!

![Anaconda](img/run.jpg)


**Review the toolbar and  menu options and keyboard shortcuts available as below:**

### Keyboard shortcuts:

**Command mode** (gray border)

- Create new cells above (**a**) or below (**b**) the current cell
- Navigate using the **up arrow** and **down arrow**
- Convert the cell type to Markdown (**m**) or code (**y**)
- See keyboard shortcuts using **h**
- Switch to Edit mode using **Enter**

**Edit mode** (green border)

- **Ctrl+Enter** to run a cell
- Switch to Command mode using **Esc**



### Let's get started!
###### Importing Necessary Libraries

This is how you import libaries and display each libary version, read more about some of the libraries below:

1. *Scikit-learn, Machine Learning in Python, Simple and efficient tools for data mining and data analysis:*  __[Scikit-learn ](http://scikit-learn.org/)__

2. *Pandas is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language:*   __[Pandas](https://pandas.pydata.org/)__

3. *NumPy is the fundamental package for scientific computing with Python:* __[Numpy](http://www.numpy.org/)__

4. *Matplotlib is a Python 2D plotting library which produces publication quality figures in a variety of hardcopy formats and interactive environments across platforms:*  __[Matplotlib](https://matplotlib.org/index.html#)__

In [9]:
# scikit-learn
import sklearn
print('sklearn: %s' % sklearn.__version__)
# pandas
import pandas as pd
print('pandas: %s' % pandas.__version__)
# numpy
import numpy as np
print('numpy: %s' % numpy.__version__)
# matplotlib
import matplotlib
print('matplotlib: %s' % matplotlib.__version__)

sklearn: 0.19.2
pandas: 0.23.4
numpy: 1.15.1
matplotlib: 2.2.3

### Load the Data Set Using Pandas

*In the following cells, we will import our dataset from a .csv using the excellent library **Pandas**. This will load the data into a 2D array dataFrame that can then be analysed. Think of a dataframe as a table or excel spreadsheet with rows and columns* 

#### We load the dataset from the csv file using pandas pd 
1. *We load the data into a DataFrame called **df** which will hold the dataset we load, feel free to call it a name you want*
2. *The dataset: LoanData.csv, is placed on the c: drive in a folder called ml.*
3. *Run **pd.read_csv(name and location of file here)** to load a dataset*

In [10]:
df = pd.read_csv('c:\\ml\\LoanData.csv')

###  Explore the Data using Pandas head function
*We will begin exploring the dataset, we will use Pandas' head function. By default the top 5 rows will be returned, by adjusting the value in the brackets as so:*  **head(20)** *will return,the top 20 observations(rows).*

In [11]:
df.head(20) #### return the top 20 observations and see the types of data present

,Loanid,Gender,Marital_Status,Dependents,Graduate,Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,PropertyOwner,Loan_Status
0,1,Male,NO,0,NO,YES,5849.0,0.0,120,360,YES,YES,1.0
1,2,Male,YES,1,YES,YES,4583.0,1508.0,128,360,YES,YES,1.0
2,3,Male,YES,0,YES,YES,3000.0,0.0,66,360,YES,YES,1.0
3,4,Male,YES,0,NO,YES,2583.0,2358.0,120,360,YES,YES,1.0
4,5,Male,NO,0,YES,YES,6000.0,0.0,141,360,YES,YES,1.0
5,6,Male,YES,2,YES,YES,5417.0,4196.0,267,360,YES,YES,1.0
6,7,Male,YES,0,NO,YES,2333.0,1516.0,95,360,YES,YES,1.0
7,8,Male,YES,3,YES,NO,3036.0,2504.0,158,360,NO,NO,0.0
8,9,Male,YES,2,YES,YES,4006.0,1526.0,168,360,YES,YES,1.0
9,10,Male,YES,1,YES,YES,12841.0,10968.0,349,360,YES,YES,1.0
10,11,Male,YES,2,YES,YES,3200.0,700.0,70,360,YES,YES,1.0
11,12,Male,YES,2,YES,YES,2500.0,1840.0,109,360,YES,YES,1.0
12,13,Male,YES,2,YES,YES,3073.0,8106.0,200,360,YES,YES,1.0
13,14,Male,NO,0,YES,NO,1853.0,2840.0,114,360,YES,YES,0.0
14,15,Male,YES,2,YES,YES,1299.0,1086.0,17,120,YES,YES,1.0
15,16,Male,NO,0,YES,YES,4950.0,0.0,125,360,YES,YES,1.0
16,17,Male,NO,1,NO,NO,3596.0,0.0,100,240,YES,NO,0.0
17,18,Female,NO,0,YES,NO,3510.0,0.0,76,360,NO,NO,0.0
18,19,Male,YES,0,NO,NO,4887.0,0.0,133,360,YES,NO,0.0
19,20,Male,YES,0,YES,YES,2600.0,3500.0,115,180,YES,YES,1.0

### Well done! This Section is completed!!!  Lets move and start Section 1.